<article>
  <div class="card-title">
    <h3>Title</h3>
  </div>
  <div class="card-date">
    Date
  </div>
  <div class="card-description">
    <h3>TLDR:</h3>
  </div>
  <div class="thumbnail">
    Thumbnail
  </div>
  <footer>
<i class="fa-regular fa-thumbs-up">Like</i>
    <i class="fa-regular fa-comment">Comments</i>
    <i class="fa-regular fa-comment">Collect</i>
  </footer>

     <section class="comment-box">
    <form class="form">
      <textarea name="text" placeholder="Add a comment..."></textarea>
      <div>
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </section>

<section class="comments">
<header class="comments-header">
<div class="user-info">
  <img src=/>
  <div class="name">Username</div>
</div>
</header>
<p class="comments-content">Comment</p>
<div class="comments-footer">
  <i class="fa-regular fa-thumbs-up">Like</i>
</div>
  </section>
</article>
