<div class="create-card modal" id="create-card-modal">

  <div class="create-card-header">
    <h2>CREATE YOUR CARD</h1>
    <button data-close-button class="close-button">&times;</button>
  </div>
  <form class="create-card-form" action="/cards" method="POST">
    <div class="create-card-input">
      <label for="title-input">Title:</label>
      <input type="text" name="title-input" placeholder="Title">
    </div>

    <div class="create-card-input">
      <label for="desc-input">Description:</label>
      <input type="text" name="desc-input" placeholder="Description">
    </div>

    <div class="create-card-input">
      <label for="url-input">url:</label>
      <input type="text" name="url-input" placeholder="url">
    </div>

    <div class="create-card-input">
      <label for="thumbnail-input">Thumbnail:</label>
      <input type="text" name="thumbnail-input" placeholder="Thumbnail">
    </div>
    <div>
      <button type="submit" id="submit-new-card">Create Card</button>
    </div>

  </form>

</div>
