<div class="modal" id="create-card-modal">

  <div class="modal-header">
    <header>Create Your Card</header>
    <button data-close-button class="close-button">&times;</button>
  </div>
  <form class="create-card-form" action="/api/cards" method="POST">
    <div class="create-card-input">
      <label for="title-input">Title:</label>
      <input type="text" name="title" placeholder="Title">
    </div>

    <div class="create-card-input">
      <label for="desc-input">Description:</label>
      <input type="text" name="description" placeholder="Description">
    </div>

    <div class="create-card-input">
      <label for="url-input">url:</label>
      <input type="text" name="url" placeholder="url">
    </div>

    <div class="create-card-input">
      <label for="thumbnail-input">Thumbnail:</label>
      <input type="text" name="thumbnail" placeholder="Thumbnail">
    </div>
    <div>
      <button type="submit" id="submit-new-card">Create Card</button>
    </div>

  </form>

</div>
