<div class="create-card">

  <div>
    <h2>CREATE YOUR CARD</h1>
  </div>

  <form class="create-card-form" action="/cards" method="POST">
    <div class="create-card-input">
      <label for="title-input">Title:</label>
      <input type="text" name="title-input" placeholder="Title">
    </div>

    <div class="create-card-input">
      <label for="desc-input">Description:</label>
      <input type="text" name="desc-input" placeholder="Description">
    </div>

    <div class="create-card-input">
      <label for="url-input">url:</label>
      <input type="text" name="url-input" placeholder="url">
    </div>

    <div class="create-card-input">
      <label for="thumbnail-input">Thumbnail:</label>
      <input type="text" name="thumbnail-input" placeholder="Thumbnail">
    </div>
<div class="create-footer">
  <button type="submit" id="submit-new-card">Create Card</button>
</div>

  </form>

</div>
