<body>
  <header>
    <div class="logo">
      <img src="">
      <h1>PinSource</h1>
    </div>
    <div class="dropdown">
      <button class=dropbtn>Username</button>
       <div class="dropdown-content">
         <a href="#">Create Card</a>
         <a href="#">My Collection</a>
       </div>
    </div>
  </header>
</body>
