#card-info-modal {
  display: none;
}

.card-info {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  flex-direction: column;
  background-color: #DEF2F1;
  border-radius: 16px;

  button {
    display: flex;
    background-color: transparent;
    border: none;
    width: 5%;
    cursor: pointer;
  }

  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  textarea {
    width: 90%;
    margin:1% 0% 0% 0%;
  }

  .card-title {
    display: flex;
    justify-content: left;
    border: 1px solid black;
    margin: 2% 0% 0% 5%;
    padding: 2%;
    width: 90%;
  }

  .card-date {
    display: flex;
    justify-content: left;
    border: 1px solid black;
    margin: 2% 5% 0% 5%;
    padding: 1%;
  }

  .card-description {
    display: flex;
    justify-content: left;
    border: 1px solid black;
    margin: 2% 5% 0% 5%;
    padding: 2%;
  }

  .thumbnail {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 2% 5% 0% 5%;
    padding: 10%;
    border-radius: 16px;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
  }

  .comment-box {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 2% 5% 0% 5%;
  }

  .new-comment-footer {
    display: flex;
    width: 90%;
    justify-content: flex-end;
  }
  .submit-button {
    background-color: #17252A;
    color: #FEFFFF;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 12%;
    margin: 1%;
  }

  .comments {
    // border: 1px solid black;
    margin: 2% 5% 2% 5%;
  }

  .comments-header {
    display: flex;
    padding: 2%;
  }

  .comments-content {
    border-bottom: 3px solid black;
    padding-bottom: 2%;
    text-align: left;
    padding-left: 2%;
    margin-bottom: 1%;
    padding-right: 2%;
  }

  .comments-footer {
    display: flex;
    padding: 2%;
  }

  .user-comment {
    border: 1px solid black;
    margin-top: 1.25rem;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .name {
    padding-left: 10%;
  }

  .modal-header {
    display: flex;
    padding-bottom: 0rem;
  }

  #card-info-description {
    display: flex;
    margin: 0;
  }

}

